<title>GESTION EMPLEADO</title>
<br>
<div class="card" id="centrar">
    <br>
    <h1>GESTIÓN EMPLEADO</h1>
    <header>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </header>
    <div class="frame" style="margin-left: 65px;">
        <button class="custom-btn btn-12">
            <span>
                <div>
                    <a style="color: rgb(255, 255, 255)" class="nav-link" [routerLink]='["/empleadoregistro"]'>REGISTRAR
                        EMPLEADOS</a>
                </div>
            </span>
            <span>
                <div align="center"><img src="assets/registrar.png" alt="Logo"> </div>
            </span>
        </button>
        <button class="custom-btn btn-12">
            <span>
                <div>
                    <a style="color: rgb(255, 255, 255)" class="nav-link" [routerLink]='["/empleadoconsulta"]'>CONSULTAR
                        EMPLEADOS</a>
                </div>
            </span>
            <span>
                <div align="center"><img src="assets/consultar.png" alt="Logo"> </div>
            </span>
        </button>
    </div>
    <br><br>
</div>
<br>