<footer class="text-center" style="margin-left: 200px;">
    <div class="mb-6">
        <small>
            <br>
            <a target="_blank" style="text-decoration: none; text-align: center; color: black;"
                rel="noopener noreferrer" [routerLink]="['/home']" routerLinkActive="router-link-active" >
                © 2020 Copyright: <span ><a href="https://www.facebook.com/profile.php?id=100018711459880">Oscar Serge</a></span> y <span><a href="https://www.facebook.com/andres.pallares.7902">Diego Santiago</a></span>, Desarroladores Web
            </a>
        </small>
    </div>
</footer>
