<title>GESTION RESERVA</title>
<br>
<div class="centrar">
    <div class="card" style="border-radius: 30px;" id="form">
        <form name="form" class="centrarForm" (ngSubmit)="f.form.valid" #f="ngForm" novalidate autocomplete="off">
            <br>
            <div class="form-group" style="margin-right: 0px;">
                <h3 style="text-align: center;">GESTIONAR RESERVA</h3>
                <br>
                <div class="input-group-prepend" style="margin-bottom: -43px;">
                    <button class="btn btn-outline-primary" (click)="BuscarCedula()" type="button"
                        style="margin-right: 0px; font-size: 10px; left: -6px;"><b>Buscar</b></button>
                </div>

                <div class="form-group" style="margin-left: 73px;">
                    <input type="text" style="font-size: 16px;" class="form-control" name="cedula"
                        [(ngModel)]="cliente.cedula" #cedula="ngModel" placeholder="Numero de identificación"
                        [ngClass]="{ 'is-invalid': cedula.touched && cedula.invalid }" required />
                    <div *ngIf="cedula.touched && cedula.invalid" class="invalid-feedback">
                        <div *ngIf="cedula.errors.required">El numero de identificación es requerido</div>
                    </div>
                </div>

            </div>
            <hr>

            <div class="form-group" style="margin-left: 0px;">
                    <label for="e">Fecha de entrada</label>
                    <input type="date" style="font-size: 16px;" class="form-control" name="FechaEntrada"
                        [(ngModel)]="reserva.FechaEntrada" #FechaEntrada="ngModel" placeholder="DD/MM/AAAA"
                        [ngClass]="{ 'is-invalid': FechaEntrada.touched && FechaEntrada.invalid }" required />
                    <div *ngIf="FechaEntrada.touched && FechaEntrada.invalid" class="invalid-feedback">
                        <div *ngIf="FechaEntrada.errors.required">La fecha de entrada es requerida</div>
                    </div>
                </div>
                <div class="form-group" style="margin-left: 0px;">
                    <label for="s">Fecha de salida</label>
                    <input type="date" style="font-size: 16px;" class="form-control" name="FechaSalida"
                        [(ngModel)]="reserva.FechaSalida" #FechaSalida="ngModel" placeholder="DD/MM/AAAA"
                        [ngClass]="{ 'is-invalid': FechaSalida.touched && FechaSalida.invalid }" required />
                    <div *ngIf="FechaSalida.touched && FechaSalida.invalid" class="invalid-feedback">
                        <div *ngIf="FechaSalida.errors.required">La fecha de salida es requerida</div>
                    </div>
                </div>
                <button class="btn btn-outline-primary" (click)="filtrar()"
                    style="margin-left: 76px; border-radius: 10px;"><b>Filtrar</b></button>
            <div *ngIf="verificar" style="margin-left: -135px;">

                <div class="col-lg-14 col-md-7" style="margin-left: 58px;">
                    <div class="form-group" style="margin-right: -335px;">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" required
                            disabled />
                    </div>
                    <div class="form-group" style="margin-right: -335px;">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" required
                            disabled />
                    </div>
                </div>

                <br><br>
                <!-- Card -->
                <div *ngIf="habitacionCards">
                    <div class="card-deck" style="margin-left: 40px;">
                        <div class="row">
                            <div id="cardr" style="left: 5%; border-radius:  20px;" class="card"
                                *ngFor="let habitacion of habitaciones ">

                                <!-- Card image -->
                                <div align="center"><img class="card-img-top" style="border-radius: 20px;"
                                        src="assets/Hotel2.jpg" alt="Card image cap"></div>

                                <div align="center">
                                    <hr>
                                    <h3 class="card-title">Habitacion: #{{habitacion.idHabitacion}}</h3>
                                    <hr>
                                </div>


                                <!-- Card content -->
                                <div class="card-body">

                                    <h3 class="card-title" style="text-align: justify;"><b>Tipo:</b><br>
                                        {{habitacion.tipo}}</h3>
                                    <hr>
                                    <h3 class="card-title" style="text-align: justify;"><b># de personas:</b>
                                        {{habitacion.nPersonas}}</h3>
                                    <hr>
                                    <h3 class="card-title" style="text-align: justify;"><b>Precio:</b><br>
                                        {{habitacion.precio}}</h3>
                                    <hr>
                                    <h3 class="card-title" style="text-align: justify;"><b>Estado:</b>
                                        {{habitacion.estado}}</h3>

                                </div>
                                <div class="card-footer">
                                    <button [disabled]="habitacionEstado" *ngIf="habitacion.idHabitacion"
                                        style=" border-radius: 10px; margin: 0px;"
                                        (click)="mensaje(); reserva.IdHabitacion = habitacion.idHabitacion; reserva.Cedula = cliente.cedula; reserva.tipo = habitacion.tipo; reserva.nPersonas = habitacion.nPersonas; reserva.precio = habitacion.precio"
                                        type="button" class="btn btn-outline-primary btn-lg btn-block">
                                        <h5>
                                            Reservar
                                        </h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
                <button class="btn btn-outline-primary" (click)="add()"
                    style="margin-left: 76px; border-radius: 10px;"><b>Registrar</b></button>
            </div>
            <div *ngIf="registrar" style="margin-left: -77px;">
                <label for="mensaje" style="display: flex; margin-left: 76px;">Haga click en registrarse para ir a
                    registrarse</label>
                <a type="button" class="btn btn-outline-primary" [routerLink]='["/clienteregistro"]'
                    style="margin-left: 76px;  border-radius: 10px;"><b>Registrarse</b></a>
            </div>
        </form>
        <br>
    </div>
</div>